<ul>
  <li>
    <label for="model_attr">Attr</label>
    <input id="model_attr" type="text" name="model[attr]" value="<%= model.att %>" />
  </li>
  <li>
    <label for="model_attr">Attr</label>
    <input id="model_attr" type="text" name="model[attr]" value="<%= model.attr %>" />
  </li>
  <li>
    <label for="model_attr">Attr</label>
    <input id="model_attr" type="text" name="model[attr]" value="<%= model.attr %>" />
  </li>
  <li>
    <label for="model_attr">Attr</label>
    <input id="model_attr" type="text" name="model[attr]" value="<%= model.attr %>" />
  </li>

  <li>
    <input type="submit" value="Save" />
  </li>
</ul>