<div class="container">
  <h1>New Rename</h1>
  <form action="/renames/<%= @rename.id %>/renames" method="POST">
    <%= erb :"renames/_form", locals: { contact: @contact, address: @address } %>
  </form>
</div>