<h2>Welcome to Songregate!</h2>

  <form action="/users" method="POST">
    <ul>
      <li>
        <label for="user_username">Username</label>
        <input id="user_username" type="text" name="user[username]" />
      </li>
      <li>
        <label for="user_email">Email</label>
        <input id="user_email" type="email" name="user[email]" />
      </li>
      <li>
        <label for="user_password">Password</label>
        <input id="user_password" type="password" name="user[password]" />
      </li>
      <li>
        <input type="submit" value="Sign Up" />
      </li>
    </ul>
  </form>
    <div class="errors">
      <% if @errors %>
        <% @errors.each do |error| %>
          <%= error %></br>
        <% end %>
      <% end %>
    </div>
