<ul>
  <li>
    <label for="song_title">Song Title</label>
    <input id="song_title" type="text" name="song[title]" value="<%= song.title %>" placeholder="Title" />
  </li>
  <li>
    <label for="song_artist">Artist</label>
    <input id="song_artist" type="text" name="song[artist]" value="<%= song.artist %>" placeholder="Artist" />
  </li>
  <li>
    <label for="song_album">Album</label>
    <input id="song_album" type="text" name="song[album]" value="<%= song.album %>" placeholder="Album" />
  </li>
  <li>
    <input type="submit" value="Save Event" />
  </li>
</ul>