<nav>
  <ul>
  <% if current_user %>
    <li>
      <a href="/users/<%= current_user.id %>"><h3>@<%= current_user.username %></h3></a>
    </li>
    <li>
      <a href="/logout"><h3>Log Out</h3></a>
    </li>
  <% else %>
    <li>
      <a href="/login"><h3>Log In</h3> </a>
    </li>
    <li>
      <a href="/users/new"><h3>Sign Up</h3></a>
    </li>
  <% end %>
    <li>
      <a href="/"><h3>Home</h3></a>
    </li>
  </ul>
</nav>