<nav>
  <h1>Site Title</h1>
  <ul>
  <% if @user %>
    <li>
      <a href="/users/<%= current_user.id %>">@<%= current_user.username %></a>
    </li>
    <li>
      <a href="/logout">Log Out</a>
    </li>
  <% else %>
    <li>
      <a href="/login">Log In </a>
    </li>
    <li>
      <a href="/users/new">Sign Up</a>
    </li>
  <% end %>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</nav>